.puzzle {
  border: 1px solid @border-color-base ;
  width: fit-content;
  height: fit-content;
  position: relative;
  &-img{
    object-fit: scale-down;
    max-width: 100%;
  }
  &-container{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}